<!--{% extends 'components/base.html' %}-->
<!--{% load static %}-->

<!--{% block main %}-->
<!--&lt;!&ndash; NAVBAR &ndash;&gt;-->
<!--<nav class="navbar" id="navbar">-->
<!--    <a href="#" class="nav-logo" onclick="showPage('home')">-->
<!--        <div class="nav-logo-icon">??</div>-->
<!--        <span class="nav-logo-text">MedQueue</span>-->
<!--    </a>-->

<!--    <ul class="nav-links">-->
<!--        <li><a href="#" onclick="showPage('home')">Bosh sahifa</a></li>-->
<!--        <li><a href="#features" onclick="scrollToSection('features')">Imkoniyatlar</a></li>-->
<!--        <li><a href="#clinics" onclick="scrollToSection('clinics')">Klinikalar</a></li>-->
<!--        <li><a href="#howworks" onclick="scrollToSection('howworks')">Qanday ishlaydi</a></li>-->
<!--    </ul>-->

<!--    <div class="nav-actions" id="navActions">-->
<!--        <a href="#" class="btn-login" onclick="openModal('loginModal')">Kirish</a>-->
<!--        <a href="#" class="btn-register ripple" onclick="openModal('loginModal')">Ro'yxatdan o'tish</a>-->
<!--    </div>-->

<!--    <div class="hamburger" id="hamburger" onclick="toggleMobileMenu()">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--</nav>-->
<!--{% endblock main %}-->

